# ignore environment variables and secret keys
.env

# ignore dependencies 
.venv/

# ignore compiled Python files
__pycache__/

# ignore images folder
images/

# ignore other misc files
README.md
CHANGELOG.md
LICENSE
scratch.ipynb
feature_announcement.py
feature_announcement_testing.py