# ignore environment variables and secret keys
.env

# ignore dependencies 
.venv/

# ignore compiled Python files
__pycache__/

# ignore scratch notebook
scratch.ipynb

# ignore deployment automation script
deploy.ps1

# ignore broadcast message testing script
feature_announcement_testing.py

# ignore test script
main_test.py

# ignore local postgres persistence script
postgres_persistence.py

# ignore additional docs folder
additional_docs/

# ignore whitelist initialization script
init_whitelist.py